name: .NET CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_NOLOGO: true
  NUGET_XMLDOC_MODE: skip
  NUGET_PACKAGES: ${{ github.workspace }}/${{ vars.NUGET_GLOBAL_PACKAGES_FOLDER }}

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.5
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4.0.0
      - name: Add Problem Matcher for dotnet-format
        uses: xt0rted/dotnet-format-problem-matcher@v1.2.0
      - name: Lint
        run: dotnet format --verify-no-changes --verbosity detailed

  restore:
    name: Validate NuGet Lock Files
    uses: nogic1008/actions/.github/workflows/nuget-lock-files.yml@v1.1.0
    with:
      update-lock-files: ${{ contains(github.head_ref, 'dependabot') && github.event_name == 'pull_request' }}
      dotnet-version: ${{ vars.DOTNET_SDK_VERSIONS }}
    secrets:
      PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

  test:
    name: Debug Build & Test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        framework: [net6.0, net7.0, net8.0]
        include:
          - os: windows-latest
            framework: net48
    steps:
      - uses: actions/checkout@v4.1.5
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4.0.0
        with:
          dotnet-version: ${{ vars.DOTNET_SDK_VERSIONS }}
          cache: true
          cache-dependency-path: '**/packages.lock.json'

      - name: Restore
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: dotnet test -f ${{ matrix.framework }} --no-build -p:TestingPlatformCommandLineArguments="--coverage --coverage-output-format cobertura --coverage-output ${{ vars.COVERAGE_REPORT_FILE }}"

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4.4.0
        with:
          flags: ${{ runner.os }},${{ matrix.framework }}
          file: ./test/Nogic.JsonConverters.Test/bin/Debug/${{ matrix.framework }}/TestResults/${{ vars.COVERAGE_REPORT_FILE }}
          disable_search: true
          token: ${{ secrets.CODECOV_TOKEN }}
